@model IEnumerable<RecursosH.Models.EmpleadosInactivo>

@{
    ViewBag.Title = "Index";
}
<div class="container-mio-4">
    <div class="box-mio-4">
        <h2>Empleados Inactivos</h2><br />

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Codigo Empleado")
                </th>
                <th>
                    @Html.DisplayName("Nombre")
                </th>
                <th>
                    @Html.DisplayName("Apellido")
                </th>
                <th>
                    @Html.DisplayName("Telefono")
                </th>
                <th>
                    @Html.DisplayName("Fecha de Ingreso")
                </th>
                <th>
                    @Html.DisplayName("Salario")
                </th>
                <th>
                    @Html.DisplayName("Estatus")
                </th>
                <th>
                    @Html.DisplayName("ID del Manager")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.codigoEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idManager)
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
