@model RecursosH.Models.Salida

@{
    ViewBag.Title = "Delete";
}
<div class="container-mio-2">
    <div class="box-mio-2">
        <h1>Eliminar Salida</h1>

        <h2>Seguro que desea eliminar la salida del empleado @Model.Empleado.nombre @Model.Empleado.apellido?</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Codigo Empleado")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Empleado.codigoEmpleado)
                </dd>

                <dt>
                    @Html.DisplayName("Tipo Salida")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tipoSalida)
                </dd>

                <dt>
                    @Html.DisplayName("Motivo")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.motivo)
                </dd>

                <dt>
                    @Html.DisplayName("Fecha Salida")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaSalida)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger boton-eliminar" /> |
                @Html.ActionLink("Volver a Lista", "Index", "Salidas", null, new { @class = "boton-atras" })
            </div>
            }
        </div>
        </div>
    </div>
