@model IEnumerable<RecursosH.Models.Salida>

@{
    ViewBag.Title = "Index";
}
<div class="container-mio-2">
    <div class="box-mio-2">
        <h1>Procesar Salidas</h1>


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Codigo del Empleado")
                </th>
                <th>
                    @Html.DisplayName("Tipo de Salida")
                </th>
                <th>
                    @Html.DisplayName("Motivo")
                </th>
                <th>
                    @Html.DisplayName("Fecha de Salida")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empleado.codigoEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoSalida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.motivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaSalida)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
        <p>
            @Html.ActionLink("Agregar", "Create", "Salidas", null, new { @class = "boton-agregar" })
        </p>
    </div>
    </div>
