@model RecursosH.Models.Cargo

@{
    ViewBag.Title = "Delete";
}


<div class="container-mio-2">
    <div class="box-mio-2">
        <h1>Eliminar Cargo</h1>
        <h2>Seguro que quieres eliminar el Cargo de @Model.cargo?</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Codigo de Cargo")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codigoCargo)
                </dd>

                <dt>
                    @Html.DisplayName("Cargo")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cargo)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-danger boton-eliminar" /> |
                    @Html.ActionLink("Volver a Lista", "Index", "Cargo", null, new { @class = "boton-atras" })
                </div>
            }
        </div>
    </div>
</div>
