@model IEnumerable<RecursosH.Models.Nomina>
@using RecursosH.Models
@{
    ViewBag.Title = "Index";
}

<h2>Nomina</h2><br />
<button><a href="" class="btn btn-block">Generar Nomina</a></button>
<button><a href="./Nominas" class="btn btn-block">Buscar Todos</a></button>

@using (Html.BeginForm("Index", "Nominas", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Buscar por Mes") <span></span>
                @Html.DropDownList("mes",
                    new SelectList(Enum.GetValues(typeof(Meses))),
                                        "Seleccione",
                    new { @class = "form-control" })
                
                <input type="submit" value="Buscar" class="btn btn-success" /><br />
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Buscar por Año") <span></span>

                @Html.TextBox("año")
                <input type="submit" value="Buscar" class="btn btn-success" /><br />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoTotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.año)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montoTotal)
            </td>
        </tr>
    }

</table>
