@model IEnumerable<RecursosH.Models.EmpleadosActivo>

@{
    ViewBag.Title = "Index";
}

<div class="container-mio-4">
    <div class="box-mio-4">
        <h1>Empleados Activos</h1>


        @using (Html.BeginForm("Index", "EmpleadosActivoes", FormMethod.Get))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Buscar por Nombre de Empleado") <span></span>

                        @Html.TextBox("nombre")
                        <input type="submit" value="Buscar" class="btn btn-success" /><br />
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Buscar por ID del Depratamento") <span></span>

                        @Html.TextBox("idDepartamento")
                        <input type="submit" value="Buscar" class="btn btn-success" /><br />
                    </div>
                </div>
            </div>
        }


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Codigo Empleado")
                </th>
                <th>
                    @Html.DisplayName("Nombre")
                </th>
                <th>
                    @Html.DisplayName("Apellido")
                </th>
                <th>
                    @Html.DisplayName("Telefono")
                </th>
                <th>
                    @Html.DisplayName("Fecha de Ingreso")
                </th>
                <th>
                    @Html.DisplayName("Salario")
                </th>
                <th>
                    @Html.DisplayName("Estatus")
                </th>
                <th>
                    @Html.DisplayName("ID del Manager")
                </th>
                <th>
                    @Html.DisplayName("ID del Departamento")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.codigoEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idManager)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idDepartamento)
                    </td>
                </tr>
            }

        </table>
        <button><a href="./EmpleadosActivoes" class="btn btn-block">Buscar Todos</a></button>
        </div>
    </div>
