@model RecursosH.Models.Departamento

@{
    ViewBag.Title = "Delete";
}


<div class="container-mio-2">
    <div class="box-mio-2">
        <h1>Eliminar Departamento @Model.nombre</h1>
        <h2>Seguro que quieres eliminar el Departamento: @Model.codigoDepartamento?</h2>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Codigo del Departamento")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codigoDepartamento)
                </dd>

                <dt>
                    @Html.DisplayName("Nombre")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayName("Id del Manager")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.idManager)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-danger boton-eliminar" /> |
                    @Html.ActionLink("Volver a Lista", "Index", "Departamento", null, new { @class = "boton-atras" })
                </div>
            }
        </div>
    </div>
</div>
