<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/estilo.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Empleado", "Index", "Empleado")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Procesos
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/Procesos">Menu Procesos</a></li>
                            <li><a href="#">Nomina</a></li>
                            <li><a href="/Salidas">Salidas</a></li>
                            <li><a href="/Vacaciones">Vacaciones</a></li>
                            <li><a href="/Permisos">Permisos</a></li>
                            <li><a href="/Licencias">Licencias</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Informes
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/Informes">Menu Informes</a></li>
                            <li><a href="#">Nomina</a></li>
                            <li><a href="/EmpleadosActivoes">Empleados Activos</a></li>
                            <li><a href="/EmpleadosInactivos">Empleados Inactivos</a></li>
                            <li><a href="/Departamento">Departamentos</a></li>
                            <li><a href="/Cargo">Cargos</a></li>
                            <li><a href="/Entradas">Entradas</a></li>
                            <li><a href="/CantSalidas">Salidas</a></li>
                            <li><a href="/InformeVacaciones">Vacaciones</a></li>
                            <li><a href="/InformePermisos">Permisos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
